In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [34]:
train = pd.read_csv('bank-train.csv')
test = pd.read_csv('bank-test.csv')

In [35]:
train = pd.DataFrame(train) 
test = pd.DataFrame(test)

In [36]:
x_train = train.iloc[:,0:21]
y_train = train.iloc[:,21]
x_test=test

In [ ]:
print(x_train)

In [38]:
del x_train['duration']

In [ ]:
x_train['duration']
##Doesn't exist anymore

In [42]:
x_train = pd.get_dummies(x_train,drop_first=True)

In [43]:
x_train.head()

,id,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,12556,40,2,999,0,1.4,93.918,-42.7,4.960,5228.1,...,0,0,0,0,1,0,0,0,1,0
1,35451,31,4,999,0,-1.8,92.893,-46.2,1.244,5099.1,...,1,0,0,0,1,0,0,0,1,0
2,30592,59,6,999,1,-1.8,92.893,-46.2,1.354,5099.1,...,1,0,0,0,1,0,0,0,0,0
3,17914,43,5,999,0,1.4,93.918,-42.7,4.961,5228.1,...,0,0,0,0,0,0,1,0,1,0
4,3315,39,2,999,0,1.1,93.994,-36.4,4.860,5191.0,...,1,0,0,0,0,1,0,0,1,0

In [44]:
del x_test['duration']

In [49]:
x_test['default yes'] = pd.Series([0 for x in range(len(x_test.index))])

In [50]:
x_test = pd.get_dummies(x_test,drop_first=True)

In [52]:
x_test.shape

(8238, 53)

In [48]:
logreg = LogisticRegression()
logreg.fit(x_train,y_train)

C:\Users\rcf6d\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [53]:
forest = RandomForestClassifier()
forest.fit(x_train,y_train)
forest_predictions = forest.predict(x_test)

C:\Users\rcf6d\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [59]:
submission = pd.concat([test.id,pd.Series(forest_predictions)],axis=1)
submission.columns = ['id','Predicted']
submission.to_csv('rfarmar_kaggle2.csv',index=False)

In [60]:
submission.shape

(8238, 2)